<div class="column-layout skin-detail-container">
  <div class="row-layout skin-detail-header">
    <div class="column-layout skin-detail-title-section">
      <h3 class="content">
        Skin Name Placeholder
      </h3>
      <p class="detail-weapon-collection">
        Weapon | Collection
      </p>
    </div>
    <div class="row-layout detail-actions">
      <button igxButton="contained" type="button" class="edit-skin-button">
        <igx-icon>
          edit
        </igx-icon>
        <span>Edit</span>
      </button>
      <button igxButton="outlined" type="button" class="edit-skin-button">
        <igx-icon>
          delete
        </igx-icon>
        <span>Delete</span>
      </button>
    </div>
  </div>
  <div class="row-layout detail-main-content">
    <div class="column-layout detail-image-section">
      <img src="/assets/placeholder-image-for-cs2-skin-1188466457c7.png" alt="" class="skin-image-detail" />
      <a href="#" target="_blank" class="ig-typography__body-1 external-link-view">
        View on External Site
      </a>
    </div>
    <div class="column-layout detail-info-section">
      <igx-card class="basic-info-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Basic Information
          </h3>
          <h5 igxCardHeaderSubtitle>
            Subtitle goes here...
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout basic-info-content">
            <div class="row-layout rarity-wear-row">
              <p class="detail-weapon-collection">
                Rarity:
              </p>
              <igx-badge type="info" value="Covert" class="rarity-badge"></igx-badge>
              <p class="detail-weapon-collection">
                Wear:
              </p>
              <igx-badge value="Factory New" class="rarity-badge"></igx-badge>
            </div>
            <p class="content">
              Float: 0.00 - 1.00
            </p>
            <p class="content">
              Exact Float: N/A
            </p>
            <p class="content">
              Overpay Reason: N/A
            </p>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="basic-info-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Description
          </h3>
          <h5 igxCardHeaderSubtitle>
            Subtitle goes here...
          </h5>
        </igx-card-header>
        <igx-card-content>
          <p class="content">
            No description provided.
          </p>
        </igx-card-content>
      </igx-card>
      <igx-card class="basic-info-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Notes &amp; Tags
          </h3>
          <h5 igxCardHeaderSubtitle>
            Subtitle goes here...
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout basic-info-content">
            <p class="content">
              No notes.
            </p>
            <div class="row-layout detail-tags-row">
              <igx-chip class="tag-chip-placeholder">
                <igx-prefix>
                  <igx-icon class="icon">
                    place
                  </igx-icon>
                </igx-prefix>
                Tag
              </igx-chip>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="basic-info-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            History
          </h3>
          <h5 igxCardHeaderSubtitle>
            Subtitle goes here...
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout basic-info-content">
            <p class="ig-typography__body-2 detail-weapon-collection">
              Created: YYYY-MM-DD HH:MM
            </p>
            <p class="ig-typography__body-2 detail-weapon-collection">
              Last Updated: YYYY-MM-DD HH:MM
            </p>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
  </div>
</div>
